body
{
    margin: 0;
    padding: 0;
    font-family: sansserif;
}

/* Header */
#header
{
    height: 13vh;
    background: #000;
    background-position: center;
    position: sticky;
}
.title h1
{
    color: #fff;
    font-size: 40px;
    padding-top: 5px;
}
.navbar a 
{
    color: #f2f2f2;
    font-size: 20px;
    border: 3px solid #fff;
}

/* Register */
.register-title
{
    margin: 20px;
}

/* Login */
.wrong-login h5
{
    color: #ff0000;
}

/* Classes */
#classes
{
    color: #000;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}
.classes-table table, th, td
{
    border: 1px solid black;
}
.classes-table table
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.classes-table th
{
    background-color: #000;
    color: #fff;
}
.classes-table tr:hover
{
    background-color: #f5f5f5;
}